RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-l


# Schreibt die RequestUri um. (entfernt ./index.php) mit Ausnahme von -d Directory, -f File, -l link
# RewriteRule ^.* ./index.php 
# folgende Zeile ist alterntiv zu Vorzeile (11) snippet von selfhtml.de 
# RewriteRule ^([^?]*)$ /index.php?path=$1 [NC,L,QSA]
RewriteRule ^([^?]*)$ /index.php
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
 
  

  
